/* .parent{
    background-color:teal;
    font-size:50px;
    height:2000px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly; 
    align-items: flex-start; 
    align-content: space-between
}
 */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --main-color:#074555;
    --main2-color:#045266;
    --secondary-color:#DDDDDA;
    --white-color:#fff;
    --black-color: #000;
    --border-color: #47748b;
    --dark-blue-color: #6E96A0;
    --blue-color: #53B4EB;
    --light-blue-color: #39a0db;
    --green-color: green;
    --red-color: red;
    --orange-color: orange;
    --pink-color: pink;
    --yellow-color: rgb(205, 195, 50);
    --white-trans-color:rgba(255,255,255,255, 0.7)
  }

  @font-face{
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
    font-family: PlayfairDisplay;
  }

  @font-face{
    src: url(../fonts/Merriweather-Regular.ttf);
    font-family: Merriweather;
  }
  h1,h2,h3,h4,h5,h6,th,td{
    font-family: Merriweather;
  }
  p,a{
    font-family: PlayfairDisplay;
  }

.bg-dark-blue{
    background-color: var(--dark-blue-color);
}

.bg-gray{
    background-color:var(--secondary-color) ;
}

.bg-main{
    background-color: #074555;
}

.text-black{
   color: var(--main-color);
}

.card-cal:hover {
    transform: scale(1.1, 1.1);
    z-index: 6876876;
    transition-duration: 0.6s;
}

.patient{
    height: 100px;
    width: 100px;
    box-shadow: var(--secondary-color);
}

.h-85{
    height: 85%;
}

/* .h-80{
    height: 80%;
} */

.mr-45{
    margin-right: 45px;
}

.ml-45{
    margin-left: 45px;
}

.bg-patient1-img{
    background-image: url("../img/patient1.jpeg");
    background-size: cover;
}

.bg-patient2-img{
    background-image: url("../img/patient5.jpg");
    background-size: cover;
}

.border-dark-blue{
    border: var(--dark-blue-color) 2px solid;
}

.w-45{
    width: 45%;
}

.contacts{
    width: 45px;
    height: 45px;
    padding-top: 13px;
}

.white-text{
   color: var(--white-color);
}

.transform{
    transform: translate(0,-50%);
}

.bg-blue{
   background-color: var(--blue-color);
}

.bg-blue:hover{
    background-color: var(--light-blue-color);
}

.btn-text-color{
  color: var(--black-color);
}

.btn-text-color:hover{
    color: var(--black-color);
}

.line-transform{
    transform: translate(0, -1000%);
}

.patient-profile i:hover{
    background-color: var(--light-blue-color);
    color: var(--white-color);
}

.mt-0{
    margin-top: 0;
}

.pt-0-1{
   padding-top: 2px;
}

.h2-size{
    font-size: 25px;
}

.h3-size{
    font-size: 20px;
}

.h4-size{
    font-size: 17px;
}

.h5-size{
    font-size: 16px;
}

.p-size{
    font-size: 15px;
}

.v-line{
    display: inline-block;
    transform: translate(0,-20%);
    width: 2px;
    height: 50px;
    background-color: var(--green-color);
}

.c-line{
    display: inline-block;
    transform: translate(-80%,50%);
    width: 20px;
    height: 20px;
    background-color: var(--green-color);
    border-radius: 90px;
    border: var(--black-color) 2px solid;
}

.h-line{
    display: inline-block;
    transform: translate(-70%,50%);
    width: 40px;
    height:1px;
    background-color: var(--green-color);
}

.upcoming-treatments p{
    display: inline-block; 
}

.bg-green{
    background-color: var(--green-color);
}

.bg-red{
    background-color: var(--red-color);
}

.bg-yellow{
    background-color: var(--yellow-color);
}

.bg-orange{
    background-color: var(--orange-color);
}

.bg-pink{
    background-color: var(--pink-color);
}

.pieChart{
    height: 360px; 
    width: 100%;
}
.columnChart{
    height: 360px; 
    width: 100%;
}

.appointment{
    height: 360px; 
    width: 100%;
}
.month i{
    color: var(--white-color);
}

.calendar {
    height: 370px; 
    width: 100%;
}

.w-10{
    width: 10%;
}

.w-11{
    width:11%;
}
.mr-25{
    margin-left: 25px;
}